extends layout

block content
    br
    br
    br
    .row
      .col.s12.m4.offset-m4
        .card
          .card-action.blue.darken-3.center.white-text
            h3 Login Form
          .card-content.blue.darken-3
            .form-field
              label.white-text(for='email') Email
              input#email.white-text(type='email',placeholder='email here',required='')
            br
            .form-field
              label.white-text(for='password') Password
              input#password.white-text(type='password',placeholder='password here',required='')
            br
            label.white-text Login As
            select#level.white-text
              option(value='guest') Guest
              option(value='host') Host
            br
            .form-field.center
              button#login.btn-large.waves-effect.waves-dark.blue.darken-3 Login
    br
    br
    footer.page-footer.blue.darken-3
      .container
        .row
          .col.l6.s12
            h5.white-text About Us
            p.grey-text.text-lighten-4
              | ​Founded in 2018, Increvel is a startup ​focuses on MICE industry that providing local experience through homestay and trip services for better local empowerment through tourism
          .col.l3.s12
            h5.white-text Find Us!
            h6.white-text hr@increvel.com
          .col.l3.s12
            h5.white-text Our Social Media
            ul
              .container
                li
                  a.white-text(href='#!')
                    h6
                      i.fa.fa-instagram
                      |   Increvel
                li
                  a.white-text(href='#!')
                    h6
                      i.fa.fa-facebook
                      |    Increvel
                li
                  a.white-text(href='#!')
                    h6
                      i.fa.fa-youtube
                      |   Increvel
      .footer-copyright
        .container
          | Made with ♥ by
          a.brown-text.text-lighten-3(href='http://materializecss.com') MaterializeCSS
          |  | PT. Jelajah Pesona Indonesia

    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(src='javascripts/materialize.js')
    script(src='javascripts/jquery.redirect.js')
    script(src='javascripts/init.js')
    script(src='javascripts/login.js')
